* {
  font-family: 'Libre Baskerville', serif;
}

.saved, .unsave, .comment {
  float: right;
}

.unsave, .comment {
  margin: 5px;
}

.jumbotron {
  padding: 250px;
  background-image: url("nytimes.png");
  background-size: cover;
}

.jumbotext {
  text-align: center
}

#addnote {
  width: 95%;
  min-width: 95%;
  max-width: 95%;
}

.delete {
  margin: 5px;
}
